#information{
    /* border: 1px solid red; */
    width: 60%;
    min-height: 85vh;
}
#upperInformation{
    width: 100%;
    height: 40%;
    /* border: 3px solid rgb(48, 44, 44); */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
#upperInformation div{
    width: 160px;
    height: 100px;
    margin: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
#upperInformation div p{
    /* width: 200px; */
    /* height: 100px; */
    padding-left: 10px;
    /* border: 1px solid red; */
}
#upperInformation div p:nth-of-type(1){
    /* width: 200px; */
    /* height: 100px; */
    font-size: 14px;
    opacity: 0.5;
    /* border: 1px solid red; */
}
#upperInformation div p:nth-of-type(2){
    /* width: 200px; */
    /* height: 100px; */
    font-size: 16px;
    opacity: 0.8;
    /* border: 1px solid red; */
}

#bottomInformation{
    width: 100%;
    height: 50vh;
    /* border: 2px solid black; */
}
#bottomInformation> div:nth-of-type(1){
  width: 60%;
  height: 30px;
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(227, 230, 233, 0.3);
  display: flex;
  justify-content: space-around;
}
#bottomInformation div:nth-of-type(1) button{
        padding: 0 2px;
        width: 30%;
        border: none;
        background:none;
        opacity: 0.8;
  }
  #bottomInformation div:nth-of-type(1) button:hover{
    padding: 0 2px;
    width: 30%;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 5px;
    color: rgb(99, 99, 224);
}

#lowerInfo{
    width: 100%;
    height: 80%;
    margin-top: 10px;
    background-color: rgb(227, 230, 233, 0.3);
    /* border: 2px solid rgb(47, 19, 173); */
    border-radius: 0px;
}

#lowerInfo #lowerInfo1{
    border-bottom: 1px solid rgb(12, 11, 11);
    width: 95%;
    height: 30px;
    background-color: rgb(227, 230, 233, 0.3);
    display: flex;
    justify-content: space-between;
}
#lowerInfo2{
    width: 90%;
    margin: 10px auto;
    /* border: 2px solid rgb(47, 19, 173); */
    border-radius: 10px;
    height: 30%;
    display: flex;
    background-color: white;
}
/* #lowerInfo2 i{
    font-size: 18px;
    margin-top: 15px;
} */
#lowerInfo2 span{
    /* font-size: 18px; */
    /* margin-bottom: -15px; */
}
#lowerInfo2 div> p:nth-of-type(1){
    /* font-weight: 700; */
    font-size: 13px;
    opacity: 0.6;
}
#lowerInfo2 div> p:nth-of-type(2){
    /* font-weight: 700; */
    font-size: 16px;
    opacity: 0.9;
}
#lowerInfo2>div:nth-of-type(1)> p:nth-of-type(1){
    font-weight: 700;
    font-size: 22px;
    opacity: 1;
}
#lowerInfo2>div:nth-of-type(1)> p:nth-of-type(2){
   opacity: 0.8;
    font-size: 12px;
}
#lowerInfo2 div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 15px;
    width: 19%;
    /* border: 2px solid rgb(19, 173, 52); */
    height: 100%;
}
#note >p{
    font-size: 15px;
    /* border: 1px solid red; */
    color: blue;
   width: 100px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#note >p>i{
    font-size: 20px;
    margin: 0 2px;
}